.*.swp
.swp
.DS_Store
*.pyc
.gitconfig-user
soapui-settings.xml
default-soapui-workspace.xml

/.CFUserTextEncoding
/.Trash/
/.account
/.android/
/.awssecret
/.bash_history
/.bash_sessions/
/.bashrc_private
/.berkshelf/
/.bundle/
/.cache/
/.composer/
/.config/
!/.config/nvim
/.cups/
/.docker/
/.dropbox-master/
/.dropbox/
/.drush/
/.eclipse/
/.filezilla/
/.freemind/
/.gem/
/.gist-vim
/.git-completion.bash
/.gitk
/.gnupg
/.gvimrc
/.heroku
/.ipython
/.irb_history
/.irssi
/.jssc/
/.lesshst
/.lnav
/.local/
/.locks/
/.mysql_history
/.netrc
/.node-gyp
/.node_repl_history
/.npm
/.oracle_jre_usage
/.pdepend
/.pearrc
/.php_history
/.pow
/.psql_history
/.pylint.d
/.python_history
/.rnd
/.slocdata/
/.sonar/
/.sqlite_history
/.ssh/
/.subversion/
/.trc
/.v8flags.*.json
/.vagrant.d/
/.vim/
/.viminfo
/.wget-hsts
/.wireshark
/.wireshark-etc
/.yarnrc
/package-lock.json

/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/MyJabberFiles/
/Pictures/
/Projects/
/Public/
/Sites/
/Virtual Box Images/
/VirtualBox VMs/

/bin/drush
/etc/
/node_modules/
