# When completing, look at what already has been typed and use that as a base.
# This mimics history up/down in Vim.
"\C-n": history-search-forward
"\C-p": history-search-backward

# Complete the same way when using the arrow up/down keys.
"\e[B": history-search-forward
"\e[A": history-search-backward

# TAB auto completion case insensitive
set completion-ignore-case on

# Allow UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off

# No bell, no flash
# (none, visible, audible)
# Note: when set to "visible", readline will _attempt_ to use a visible bell...
#       This didn't seem to work on my machine (audible does, but that's too
#       much)
set bell-style none

# Immediately add trailing slash when auto-completing symlinks that point to
# a directory.
set mark-symlinked-directories on

# set editing-mode vi


# https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html#Readline-Init-File-Syntax
# https://www.ukuug.org/events/linux2003/papers/bash_tips/
# O'Reilly "Learning the bash shell"
